*{
	padding:0px;
	margin:0px;
	box-sizing:border-box;
}
body{
	font-family:Arial;
}


header, nav, article,div,footer{
	padding:10px;
	background-color:yellow;
	border:solid gray;
	text-align:center;
}

header,footer{
	width:100%;

}
nav,div{
	width:20%;
}
article{
	width:60%;
	height:200px;
	float:left;
}
nav,div{
	float:left;
	height:200px;
}

footer{
	clear:both;
}
